// Footer.scss
.footer-box {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #424242; // A dark shade for the footer background
    color: #E0E0E0; // A lighter shade for the text for contrast
    text-align: center; // Center the text
    padding: 1rem 0; // Padding for the text
  }
  
  .footer-text {
    margin: 0; // Remove default margins if needed
    // Add other styles for the text if needed
  }
  